.c-transition{
    @include size(100vw, 100vh);
    @include position(fixed, 0 null null 0);
    z-index: 9999;
    transform: translate3d(0, -100vh, 0);

    &.u-visible{
        transform: translate3d(0, 0, 0);
    }
}