<!doctype html>
<html lang="en-US" class="has-no-js" data-debug="true">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{siteName}}</title>

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="{{siteUrl}}assets/images/apple-touch-icon.png">
    <link rel="icon" href="{{siteUrl}}assets/images/favicon.png">

    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/browser-hacks.css" />
    
    {# Linked Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head> 
<body>
    {% spaceless %}
        <div class="js-transition c-transition"></div>
        {% include '_includes/header.twig' %}
        <main class="js-pjax-wrapper" data-module="Base">
            <article id="content" role="main" class="js-pjax-container">
                {% block content %}{% endblock %}
            </article>
        </main>
        {% include '_includes/footer.twig' %}
    {% endspaceless %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{siteUrl}}assets/scripts/jquery-3.2.1.min.js"><\/script>')</script>
    <!-- Scrollex (used for scroll events) -->
    <script src="{{siteUrl}}assets/scripts/jquery.scrollex.min.js"></script>
    <!-- ES6 Polyfill -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js" crossorigin="anonymous"></script>
    <!-- ES6 Promise Pollyfil -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script> 
    <!-- Lightcase (custom popup modals) -->
    <script src="{{siteUrl}}assets/scripts/lightcase.js"></script>
    <!-- Node Packages -->
    <script src="{{siteUrl}}assets/scripts/vendors.js"></script>
    <!-- Custom JavaScript Modules -->
    <script src="{{siteUrl}}assets/scripts/app.js"></script>
</body>
</html>