// ==========================================================================
// Objects / Forms
// ==========================================================================

// Label
// =============================================================================
.o-label
{
    display: inline-block;
    color: $off-black;
    font-size: 16pt;
    font-weight: $light;
    margin: 0 0 1em 0;
}

// Input
// =============================================================================
.o-input
{
    background: rgba(144,144,144,0.075);
    border: solid 1px $off-white;
    height: 2.75em;
    outline: 0;
    text-decoration: none;
    padding: 0 1em;
    border-radius: 4px;
    appearance: none;
    position: relative;
    color: $off-black;
    min-width: 256px;
    margin: 0 0 2em;

    &:focus
    {
        border-color: $primary;
        box-shadow: 0 0 0 1px $primary;
    }

    &::placeholder
    {
        color: $off-black;
    }
}

// Checkbox
// =============================================================================
input[type="checkbox"],
.o-checkbox
{
    position: absolute;
    width: 1em;
    opacity: 0;
    z-index: -1;
    margin-right: -2em;
    color: $off-black;

    &:checked + .o-checkbox-label{
        .o-icon{
            background: $primary;
            color: $white;
            border-color: $primary;

            path{
                opacity: 1;
            }
        }
    }
}

.o-checkbox-label
{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
    margin-bottom: 2em;

    @extend .o-label;

    .o-icon{
        background: rgba(144,144,144,0.075);
        border-radius: 4px;
        border: solid 1px $off-white;
        height: 1.65em;
        left: 0;
        position: absolute;
        top: 0;
        width: 1.65em;
        line-height: 1.58;
        text-align: center;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        padding: 6px;
        overflow: hidden;

        path{
            opacity: 0;
        }
    }
}

// Radio
// =============================================================================
input[type="radio"],
.o-radio
{
    @extend .o-checkbox;
}

.o-radio-label
{
    .o-icon{
        border-radius: 100%;
    }
    
    @extend .o-checkbox-label;
}

// Select
// =============================================================================
select,
.o-select
{
    width: 100%;
    margin-bottom: 0;
    @extend .o-input;
}

.o-select-wrap
{
    position: relative;
    display: inline-block;
    margin: 0 0 2em 0;

    .o-select-icon{
        position: absolute;
        right: 6%;
        top: 50%;
        transform: translateY(-50%);
        color: $off-white;
    }
}

// Textarea
// =============================================================================
textarea,
.o-textarea
{
    padding: 0.75em 1em !important;
    height: initial;

    @extend .o-input;
}

// Submit
// =============================================================================
input[type="submit"],
input[type="reset"],
.o-reset,
.o-submit{
    border: none;
    outline: none;
    box-shadow: none;
}